<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
username: <input type="text" id="username" placeholder="Please enter the username"/><br>
password: <input type="text" id="password" placeholder="Please enter the password"/><br>
<input type="button" onclick="login()" id="btn_login" value="Login"></input>
<script>
    function login() {
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        let dataJson = {
            "username": username,
            "password": password
        }
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/user/login/username",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(dataJson),
            success: function (data) {
                alert(data)
            }

        })
    }
</script>
</body>
</html>